.wrapper {
	height: 100vh;
	left: 0;
	overflow: scroll;
	position: fixed;
	top: 0;
	width: 100vw;
}

.board {
	background-image: radial-gradient(circle, #b8b8b8bf 1px, rgba(0, 0, 0, 0) 1px);
	background-size: 30px 30px;
	cursor: grab;
	height: 100vh;
	position: relative;
	width: 100vw;
}

.board_dragging {
	background-image: radial-gradient(circle, #b8b8b8bf 1px, rgba(0, 0, 0, 0) 1px);
	background-size: 30px 30px;
	cursor: grabbing;
	height: 100vh;
	position: relative;
	width: 100vw;
}
