/* LoginPage.module.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .loginBox {
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 3px solid grey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .inputGroup input {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .loginBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cancelBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .loginBtn:hover,
  .cancelBtn:hover {
    opacity: 0.8;
  }

  .register {
    margin-top: 40px;
  }

  .registerLink {
    font-weight: 700;
  }

  .registerLink:hover{
    font-weight: 1000;
  }


  