@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Protest+Strike&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@layer base {
	a {
    @apply text-blue-600 underline;
  }
	h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
	li {
		@apply list-item;
	}
	p {
		@apply inline
	}
	ul {
		@apply list-none list-inside ml-2
	}
}

@tailwind components;
@tailwind utilities;

:root {
	--first-color: hsl(230, 75%, 56%);
	--title-color: hsl(230, 75%, 15%);
	--text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

	--body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

	--theme-font-family-logo: "Protest Strike", sans-serif;

	--theme-z-index-tooltip: 100,
	--theme-z-index-fixed: 100,
	--theme-z-index-modal: 100,

	--header-height: 3.5rem;
}

@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
