@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--theme-primary-color: rgb(49, 101, 255);
	--theme-title-color: rgb(23, 29, 61);
	--theme-text-color: rgb(106, 110, 124);
  --theme-body-color: rgb(250, 250, 255);
  --theme-container-color: rgb(247, 247, 255);
  --theme-border-color: rgb(192, 192, 204);

	--theme-font-family-logo: "Protest Strike", sans-serif;
	--theme-font-family-base: "Nunito", sans-serif;
	--theme-font-size-h2: 1.25rem;
	--theme-font-size-normal: .938rem;

	--theme-border-radius-base: 24px;
	--theme-border-radius-container: 8px;

	--theme-z-index-tooltip: 10;
	--theme-z-index-fixed: 100;
	--theme-z-index-modal: 1000;
}

@media screen and (min-width: 1024px) {
  :root {
    --theme-font-size-h2: 1.5rem;
		--theme-font-size-normal: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--theme-font-family-base);
  font-size: var(--theme-font-size-normal);
}

body {
  background-color: var(--theme-body-color);
  color: var(--theme-text-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
